# Frontend (Vite, prefix VITE_ = terekspos ke client)
VITE_SUPABASE_URL=https://qrftubbmyzjswzhrntyv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_68Kf-mCEromlSaHofVFkdg_UrXbJBiO


# Proxy serverless function (server-side, TANPA prefix VITE_)
PROXY_RATE_LIMIT_PER_MIN=60
